body {
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial;
}

.btn-group {
  display: inline-block;
  a,
  button {
    margin-right: 1em;
  }
  a:last-child,
  button:last-child {
    margin-right: 0;
  }
}

a,
button {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0;
  margin: 0;
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
a,
.btn-group > a {
  border: 0.25em double blue;
  background: white;
  color: black;
}
button,
.btn-group > button {
  border: 0.25em solid black;
  background: white;
  color: black;
}

header,
footer {
  margin: 1em 0;
}

header > div,
footer > div {
  margin-bottom: 1em;
}

footer {
  padding-top: 1em;
  text-align: center;
}

header > div:last-child,
footer > div:last-child {
  margin-bottom: 0;
}

.card {
  display: grid;
  grid-template-columns: 11em auto;
  grid-column-gap: 3em;
  margin: 1em;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a,
.content {
  border: 0.25em solid black;
  box-shadow: 0.5em 0.5em 1em black;
  padding: 0.5em;
}

@media (min-width: 576px) {
  body {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  body {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  body {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  body {
    max-width: 1140px;
  }
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  border: 0.25em double black;
  background-color: white;
}
