<div class="header">
  <div>
    <label>Rows</label>
    <input type="number" disabled [(ngModel)]="rows" />
  </div>
  <div>
    <label>Columns</label>
    <input type="number" disabled [(ngModel)]="columns" />
  </div>
  <div>
    <label>Mines</label>
    <input type="number" min="1" max="99" [(ngModel)]="mines" />
  </div>
  <button type="button" (click)="start()">
    Start Game
  </button>
</div>

<div class="container">
  <div *ngFor="let row of grid; let x = index;">
    <span *ngFor="let cell of row; let y = index"
      [class.mark]="cell.mark"
      [class.hidden]="cell.hidden"
      (click)="check(cell)"
      (contextmenu)="mark($event, cell)">
      {{cell.score}}
    </span>
  </div>
</div>