/* You can add global styles to this file, and also import other style files */
$active: #0275d8;
$inavtive: #d9534f;
$action: #5cb85c;

$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;


body {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: $break-large;
    padding: 0 15px;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

a {
    border: 5px solid $active;
    margin: .1em;
    padding: .5em 0;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    user-select: none;
}

button {
    border: 5px solid $action;
    margin: .1em;
    padding: .5em 0;
    background-color: white;
    color: black;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}

.show-large {
    @media (max-width: $break-large) {
        display: none;
    }
}

// Mine Sweeper
input {
    height: 1.5em;
    padding: 0;
}